.profile-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.profile-container section {
    display: flex;
    margin-top: 5em;
    background-color: #9c27b036;
    height: 35em;
    width: 27em;
    align-items: center;
    font-size: larger;
    border-radius: 30px;
    padding: 30px;
}

.profile-container section img {
    width: 210px;
    height: 210px;
    border: 1px solid #0c15e1;
    border-radius: 100%;
    object-fit: cover;
    margin-top: -450px;
}

#link {
    text-decoration: none;
    padding: 2px;
    background-color: #5e65ff;
    color: white;
    margin-top: -25em;
    margin-left: 7em;
    height: 2em;
    transition: all 0.3s ease;
    width: 160px;
    border-radius: 20px;
    text-align: center;
}
#link:hover {
    background-color: #9900ff; 
    color: white;
    text-decoration: none;
  }
  

#name-title {
    color: #444956;
    margin-left: -22em;
    margin-top: -5em;
}

#name {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    font-size: larger;
    border: none;
    margin: 15px;
    color: black;
    margin-top: -112px;
    margin-left: 10px;
}

#email-title {
    color: #444956;
    margin-left: -178px;
}

#email {
    width: 118px;
    height: 21px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-size: larger;
    border: none;
    margin: 15px;
    color: black;
    margin-left: 10px;
}

#description-title {
    color: #444956;
    margin-top: 7em;
    margin-left: -228px;
}

#description {
    margin-top: 21em;
    width: 444px;
    margin-left: -110px;
    border-radius: 15px;
    background-color: whitesmoke;
    border: 1px solid #8D89A6;
    height: 9em;
}


.edit-profile-div {
    display: flex;
    justify-content: center;
}

.edit-profile-div form {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    font-size: larger;
    border-radius: 30px;
    width: 35vw;
    gap: 2em;
    padding: 30px;
    background-color: #9c27b036;
}

.edit-profile-div form label input, textarea, #image-link {
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    border: none;
    margin: 15px;
    color: black;
}

textarea {
    width: 85%;
    margin-top: 12px;
}

.edit-profile-div form section img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    object-fit: cover;
}

.edit-profile-div form section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

button {
    background-color: #0c15e1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  button:hover {
    background-color: #9900ff; 
  }

  button:disabled {
    background-color: #0c15e187; 
    transform: scale(0.95); 
  }

.edit-profile-div #loading {
    margin-top: 20em;
}
